<% content_for :head do %>
  <%= javascript_pack_tag "geolocation" %>
<% end %>
<div class="container">
    <a href="https://webservice.recruit.co.jp/"><img src="https://webservice.recruit.co.jp/banner/hotpepper-s.gif" alt="ホットペッパー Webサービス" width="135" height="17" title="ホットペッパー Webサービス"></a>
    <h1 id = "results">検索条件入力画面</h1>
    <div class="top">
        <form name="form1">
            <label for="ranges" class="control-label">検索範囲</label>
            <select id="ranges" class="form-control mb-2">
                <option value="0">---</option>
                <option value="1">300m</option>
                <option value="2">500m</option>
                <option value="3">1000m </option>
                <option value="4">2000m </option>
                <option value="5">3000m </option>
            </select>
        </form>
        <button value="1" data-page="1" id='btn' class="btn btn-secondary">検索</button><br />
    </div>
    <div id="results_available"></div>
    <div id="pagination">
    <div id="page" class= "page">
    </div>
</div>