<% content_for :head do %>
  <%= javascript_pack_tag "geolocation" %>
<% end %>
<script type="text/javascript" src="http://webservice.recruit.co.jp/hotpepper/gourmet/v1/"></script>
<%= javascript_pack_tag "hotpepper"%>
<div class="container">

</div>