<% content_for :head do %>
  <%= javascript_pack_tag "show"%>
<% end %>
<div class= "container">
  <div id= "image" class="text-secondary"></div>
  <div id= "name" class="text-secondary"></div>
  <div id= "address" class="text-secondary"></div>
  <div id= "open" class="text-secondary"></div>
  <div id= "access" class="text-secondary"></div>
  <div id= "private_room" class="text-secondary"></div>
  <div id= "parking" class="text-secondary"></div>
</div>