<% content_for :head do %>
  <%= javascript_pack_tag "show"%>
<% end %>
<div class= "container">
  <div id= "image"></div>
  <div id= "name"></div>
  <div id= "address"></div>
  <div id= "open"></div>
  <div id= "access"></div>
</div>